@model ContactManager.Model.ContactModel

@{
    ViewData["Title"] = "MyCrudStudent";
}

<div class="text-center">
    <h1 class="display-4">Contact Registry</h1>
    <p>Enter the details of the contact that will be registered.</p>
</div>

<div>
    <form asp-action="ContactRegistry" method="post" class="registry">
       
        <div>
            <label asp-for="Name">Nome:</label>
            <input asp-for="Name" type="text" id="contact-name" name="ContactName" value="">
        </div>

        <div>
            <label asp-for="PhoneNumber">PhoneNumber:</label>
            <input asp-for="PhoneNumber" type="date" id="birth-date" name="PhoneNumber" value="">
        </div>

        <div>
            <label asp-for="Email">E-mail:</label>
            <input asp-for="Email" type="email" id="email" name="Email" value="">
        </div>

        <div>
            <button type="submit">Registry</button>
        </div>
    </form>        
</div>